h3{
    margin-bottom: 20px;
}
/*product end*/

h2 {
    color: #4C6DBD;
    text-align: center;
    margin-bottom: 20px;
}

.body {
    margin: 0 25vw 100px 25vw;
    font-size: medium;
}

ol, ul {
    margin: 0 5vh 0 5vh
}
